@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Dark theme */
    --background: 0 0% 9%; /* #171717 */
    --foreground: 0 0% 98%; /* #F9F9F9 */
    --card: 0 0% 10%; /* #1A1A1A */
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 8%; /* #141414 navbar */
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 20%; /* #333333 */
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 70%; /* #B3B3B3 */
    --accent: 0 0% 15%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%; /* #333333 */
    --input: 0 0% 15%;
    --ring: 0 0% 83%;
    --radius: 0.5rem;
  }

  body {
    @apply bg-background text-foreground;
    font-family: 'Roboto Condensed', sans-serif;
  }
}
